# This file contains environment variables for the Docker container. It is used to configure the application when running inside a Docker environment.
MODEL_PATH=models/yolov8_component_arrow.pt
# This URL is used to download the model from S3 if it doesn't exist locally. It should point to the S3 object URL where the model is stored.
YOLO_MODEL_S3_OBJECT_URL=
# The path to the YOLO model file. This should match the MODEL_PATH variable, but can be overridden if needed.
YOLO_MODEL=models/yolov8_component_arrow.pt
# The device to run the YOLO model on. It can be 'cpu' or 'cuda' (if you have a compatible GPU). In this case, we are using 'cpu'.
YOLO_DEVICE=cpu
# The confidence threshold for YOLO detections. This value determines how confident the model must be in its predictions to consider them valid. A higher value means fewer detections but with higher confidence.
YOLO_CONFIDENCE=0.80
# The Intersection over Union (IoU) threshold for YOLO detections. This value is used to determine how much overlap is required between predicted bounding boxes and ground truth boxes to consider a detection as a true positive. A higher value means stricter matching.
YOLO_IOU=0.70
